@font-face{
    font-family: '0';
    src:
        local('BOLDFONT'),
        url('../assets/fonts/the_bold_font/THEBOLDFONT.ttf')
}
@font-face {
    font-family: '1';
    src:
        local('breaking_bad'),
        url('../assets/fonts/heart_breaking_bad/Heart Breaking Bad.otf')
}
@font-face{
    font-family: '2';
    src:
        local('braille'),
        url('../assets/fonts/braille_printing/Braille Printing.ttf')
}
@font-face{
    font-family: '3';
    src:
        local('qr'),
        url('../assets/fonts/qr_font_tfb/QR font tfb.ttf')
}

.fontClasse0{
    font-family: '0';
}
.fontClasse1{
    font-family: '1';
}
.fontClasse2{
    font-family: '2';
}
.fontClasse3{
    font-family: '3';
}
#aperçuFont{
    margin : auto;
    font-size: 150px;
}

main{
    max-width: 100%;
}
.centrer{
    text-align: center;
}

@media all and ( min-width: 600px) {
    main{
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}
section img{
    height: 150px;
}
.flex-vertical{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2em;
}
.flex-vertical section{
    margin-top: auto;
    margin-bottom: auto;
}
.flex-horizontal{
    display:flex;
    flex-direction: row;
}
.flex-horizontal-espace{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.take-space  div,
.take-space table{
    width: 100%;
}
.flex-horizontal button, .flex-horizontal-espace button{
    width: 100%;
}

thead{
    font-size: 25px;
    font-weight: 200;
}
#tableDétails{
    width: 50%;
    margin: auto;
}
#détails td{
    width: 50%;
}

/*zone pour les cartes*/

.carte{
    height: 150px;
    width: 150px;
    display:flex;
    flex-direction: column;
    position: relative;
}
.carte *{
    text-align: center;
    margin:auto;
}
.carteZoneTexte{
    text-align: center;
    height: 45%;
    position: relative;
}

.carteZoneTexte p{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carte img{
    max-height: 150px;
    margin: auto;
}
.carte .couleur{
    margin : auto;
}

.carteCachée *
,.carteRetournée *
,.paireTrouvée *{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
}

/*animation rotation*/
.carte{
    background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}
.contenuCarte {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
.carteRetournée .contenuCarte
,.paireTrouvée .contenuCarte{

    transform: rotateY(180deg);
}
.faceExtérieure,
.faceIntérieure{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.faceExtérieure {
    color: black;
  }
.faceIntérieure{
    transform: rotateY(180deg);
}