main{
    max-width: 100%;
}
.centrer{
    text-align: center;
}

@media all and ( min-width: 600px) {
    main{
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}
.flex-vertical{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 3em;
}
.flex-vertical section{
    margin-top: auto;
    margin-bottom: auto;
}
.flex-horizontal{
    display:flex;
    flex-direction: row;
}
.flex-horizontal-espace{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.take-space  div,
.take-space table{
    width: 100%;
}
.flex-horizontal button, .flex-horizontal-espace button{
    width: 100%;
}

thead{
    font-size: 25px;
    font-weight: 200;
}
#tableDétails{
    width: 50%;
    margin: auto;
}
#détails td{
    width: 50%;
}
.carte{
    height: 150px;
    width: 150px;
    display:flex;
    flex-direction: column;
    position: relative;
}
.carte *{
    text-align: center;
    margin:auto;
}
.carte p{
    text-align: center;
    max-width: 45%;
    font-size: 50px;
    margin:auto;
}
.carte img{
    max-height: 150px;
    margin: auto;
}
.carte .couleur{
    max-width : 45%;
    margin : auto;
}
.carteCachée{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
}
.carteRetournée,
.paireTrouvée{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;

}
