main{
    max-width: 100%;
}

@media all and ( min-width: 600px) {
    main{
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}
.flex-horizontal{
    display:flex;
    flex-direction: row;
}
.flex-horizontal-espace{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.take-space  div{
    width: 100%;
}
.flex-horizontal button, .flex-horizontal-espace button{
    width: 100%;
}
.carte{
    width:50%;
    max-width: 250px;
    height: 375px;
    display:flex;
    flex-direction: column;
    position: relative;
}
.carte *{
    text-align: center;
    margin:auto;
}
.carte p{
    font-size: 75px;
}
.carte img{
    max-width: 100%;
}
.carte .imageDeFond{
    margin-top: 0px;
}
.carteRetournée .imageDeFond,
.paireTrouvée .imageDeFond{
    margin-top: 0px;
    position: absolute;
    z-index: -1;
}
